.btn,
button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    background: none;
    font-size: 16px;
    color: $white;
    text-align: center;
    text-decoration: none;
    transition: .3s;

    &:hover {
        background: #fff;
        color: $red;
    }

    &--blue {
        background: $light-blue;

        &:hover {
            background: #7fa7c1;
        }
    }

    &--white {
        background: $white;
        color: #000;

        &:hover {
            background: #d4d4d4;
        }
    }

    &--red {
        background: #985151;

        &:hover {
            background: #6d3c3c;
        }
    }
}