.cols {
    display: flex;
    flex-wrap: wrap;
    margin: -35px -20px 0;

    .col {
        flex: 0 1 auto;
        padding: 35px 20px 0;

        @include breakpoint-large-desktop {
            flex: 0 1 25%;
            max-width: 25%;
        }

        &--1of2 {
            flex: 0 1 50%;
            max-width: 50%;
        }

        &--1of4 {
            flex: 0 1 25%;
            max-width: 25%;
        }

        &--1of5 {
            flex: 0 1 20%;
            max-width: 20%;
        }

        @include breakpoint-mobile-portrait {
            flex: 0 1 100%;
            max-width: 100%;
        }
    }
}