input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form {
    &__row {
        + .form__row {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}

/* ------------------------------------------------------------ *\ 
    Form Add
\* ------------------------------------------------------------ */

.form-add {
    .error {
        margin: 30px auto 35px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 35px;
        text-align: center;
    }

    .field {
        @include breakpoint-mobile-portrait {
            font-size: 12px;
        }
    }

    .file {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 5;

        @include breakpoint-tablet-portrait {
            bottom: 10px;
        }
    }

    &__container {
        display: flex;

        @include breakpoint-tablet-portrait {
            display: block;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        flex: 0 1 40%;
        max-width: 40%;
        max-height: 500px;
        border-radius: 30px;
        background: #ffffff;

        @include breakpoint-tablet-portrait {
            max-width: 600px;
            min-height: 300px;
            margin: 0 auto 20px;
        }

        @include breakpoint-mobile-portrait {
            min-height: 250px;
        }

        figure {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    }

    &__content {
        flex: 0 1 60%;
        max-width: 60%;
        padding-left: 20px;

        @include breakpoint-tablet-portrait {
            max-width: none;
            padding-left: 0;
        }
    }

    &__row {
        + .form-add__row {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }
    }
    
    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -15px;

        input {
            flex: 0 1 49%;
            max-width: 49%;
            margin-top: 15px;
        }
    }

    &__actions {
        margin-top: 30px;
        text-align: center;
    }
}

/* ------------------------------------------------------------ *\ 
    Form Meal
\* ------------------------------------------------------------ */

.form-meal {
    height: 100%;

    .field {
        flex-shrink: 0;

        &::placeholder {
            color: rgba($color: #fff, $alpha: .8);
        }

        + .field {
            margin-top: 10px;
        }
    }

    &__body {
        display: flex;
        height: 100%;

        @include breakpoint-tablet-portrait {
            display: block;
            overflow: auto;
        }
    }

    &__image {
        position: relative;
        flex: 0 1 50%;
        max-width: 50%;

        @include breakpoint-tablet-portrait {
            max-width: none;
            overflow: hidden;
            min-height: 300px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }

        @include breakpoint-mobile-portrait {
            min-height: 200px;
        }

        .file {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            z-index: 5;

            @include breakpoint-tablet-portrait {
                bottom: 10px;
            }
        }
        
        figure {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            background-color:#ffffffdb;
        }
    }

    &__content {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex: 0 1 50%;
        max-width: 50%;
        padding: 20px 60px 0 40px;

        @include breakpoint-tablet-portrait {
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
        }

        @include breakpoint-mobile-portrait {
            padding-left: 0;
            padding-right: 0;

            .list {
                padding-left: 20px;
            }
        }

        h2 {
            margin-bottom: 30px;
            font-size: 40px;
            text-decoration: underline;

            @include breakpoint-mobile-portrait {
                font-size: 30px;
            }
        }

        h3 {
            margin-bottom: 15px;

            ~ h3 {
                margin-top: 15px;
            }
        }

        p {
            word-break: break-all;
        }
    }

    &__title {
        margin: 30px 0 10px;
    }

    &__actions {
        padding-top: 20px;
        margin-top: auto;

        .btn {
            margin: 10px 10px 0 0;
        }
    }
}