.header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 80px;
    border-bottom-left-radius: 60px;
    margin-bottom: 40px;
    background: $red;
    text-align: center;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }

    .btn {
        margin-right: 10px;
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        font-size: 35px;

        &:hover {
            background: none;
            color: #fff;
        }
    }

    &__login {
        
    }
}