.wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .notice {
        padding: 40px;
        font-size: 30px;
        text-align: center;

        @include breakpoint-mobile-portrait {
            padding: 10px;
            font-size: 25px;
        }
    }
}